<!-- Display video cards here with 
    poster-image
    length of video in hh:mm:ss format
    2-liner description
    duration since last published 
    number of views
-->
<!-- <mat-card class="example-card">
    <mat-card-title-group> -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://CleverProgrammer.com/pwj" allowfullscreen></iframe>
      </div>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <!-- <video scr="https://i.ytimg.com/vi/ByOPqVzGvJw/default.jpg"></video> -->
    <!-- </mat-card-title-group> -->
    <!-- <mat-card-content>
      {{longText}}
    </mat-card-content> -->
  <!-- </mat-card> -->