<h1>Login</h1>
<form  #loginForm="ngForm" id="form">
    <mat-form-field>
        <input matInput placeholder="Email Adress" [(ngModel)]="login.email" name="email"  #email="ngModel" required>
    </mat-form-field>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger" style="width: 340px; margin-top: -15px; height: 30px; line-height: 0px;">
        Email Adress Is Mandatory
    </div>
    
    
    <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="login.password" name="password"  #password="ngModel" required>
    </mat-form-field>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger" style="width: 340px; margin-top: -15px; height: 30px; line-height: 0px;">
        Password is Mandatory
    </div>
    <button routerLink="/authentication/register" >Register</button>
    <button [disabled] = "!loginForm.form.valid" (click)="loginUser()" style="margin-left: 15px;">Login</button>
</form>