<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

<context:annotation-config/>
<context:component-scan base-package="com.wp.springapp"/>
<context:property-placeholder location="car.properties"/>

	<!-- <bean id="engine1" class="com.wp.springapp.Engine">
		<property name="power" value="95.5" />
		<property name="noOfCylinders" value="2" />
	</bean>

	<bean id="car1" class="com.wp.springapp.Car">
		<property name="model" value="Tata Nexon" />
		<property name="color" value="White" />
	</bean> -->


<!-- 	<bean id="car2" class="com.wp.springapp.Car">
		<constructor-arg name="model" value="Ford Eco Sports"/>
		<constructor-arg name="color" value="Red"/>
		<constructor-arg name="engine" ref="engine1"/>
	</bean>  -->

</beans>