<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id= "Pro" class ="com.stackroute.springdi.bean.Hobby.Product">
<property name="Pname" value="MacBook"></property>
<property name="Pcost" value="120000"></property>
<property name="Pid" value="A23"></property>
</bean>

</beans>
