<mat-toolbar>

  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon style="background-color:rgb(231, 36, 111);color: white;" (click)="sidenav.toggle();">menu</mat-icon>
    </button>
    <span style="background-color:rgb(231, 36, 111);color: white;">ViewTube</span>
    
   <div class="spacer"></div>
    <div class="example-center">
      <form class="form-inline md-form form-sm active-purple-2">
        <input class="form-control form-control-sm mr-3 w-75" type="text" 
          placeholder="Search" aria-label="Search" matInput>

      <!-- <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Number</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form> -->
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    
      <button mat-icon-button>
        <mat-icon matTooltip="Audio Search">mic</mat-icon>
      </button>
    </form>

    </div>
   
   <button mat-icon-button>
    <mat-icon style="background-color:rgb(231, 36, 111);color: white;" matTooltip="Notifications">notifications</mat-icon>
   </button>
   <button mat-icon-button>
    <mat-icon style="background-color:rgb(231, 36, 111);color: white;" matTooltip="Create Videos">video_call</mat-icon>
   </button>
   <button mat-icon-button>
    <mat-icon style="background-color:rgb(231, 36, 111);color: white;" matTooltip="Apps">apps</mat-icon>
   </button>
   <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
     <mat-icon style="background-color:rgb(231, 36, 111);color: white;" matTooltip="Manage Profile">person_outline</mat-icon>
   </button>
   
   <mat-menu #menu="matMenu">
     <button mat-menu-item style="background-color: rgb(20, 20, 20);color: white;">
     <mat-icon style="background-color: rgb(20, 20, 20);color: white;">settings</mat-icon>
     <span>Settings</span>
     </button>
     <button mat-menu-item style="background-color: rgb(20, 20, 20);color: white;">
      <mat-icon style="background-color: rgb(20, 20, 20);color: white;">help</mat-icon>
      <span>Help</span>
    </button>
    <button mat-menu-item style="background-color: rgb(20, 20, 20);color: white;">
      <mat-icon style="background-color: rgb(20, 20, 20);color: white;">notifications_off</mat-icon>
      <span>Disabled alerts</span>
    </button>
    <button mat-menu-item style="background-color: rgb(20, 20, 20);color: white;">
      <mat-icon style="background-color: rgb(20, 20, 20);color: white;">feedback</mat-icon>
      <span>Send feedback</span>
    </button>
   </mat-menu>
  </mat-toolbar-row>

  <mat-toolbar-row class="bg">
    <app-chips-bar></app-chips-bar>
  </mat-toolbar-row>
  <!-- <mat-toolbar-row class="bg-1">
    <app-video-content></app-video-content>
  </mat-toolbar-row> -->

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened="false">
    <mat-nav-list>
      <a mat-list-item style="background-color: rgb(20, 20, 20);color: white;">
        <mat-icon>home</mat-icon>  Home
      </a>
      <a mat-list-item style="background-color: rgb(20, 20, 20);color: white;">
        <mat-icon>explore</mat-icon>  Explore
      </a>
      <a mat-list-item style="background-color: rgb(20, 20, 20);color: white;">
        <mat-icon>subscriptions</mat-icon>  Subscriptions
      </a>
      <a mat-list-item style="background-color: rgb(20, 20, 20);color: white;">
        <mat-icon>video_library</mat-icon>  Library
      </a>
      <a mat-list-item style="background-color: rgb(20, 20, 20);color: white;">
        <mat-icon>history</mat-icon>  History
      </a>
      <hr>
      <p style="margin: 2%;padding: 2%">
        Sign in to like videos, comment, and subscribe.
      </p>
      <button style="color: rgb(231, 36, 111);font-weight: bold;font-size: larger;margin: 4%;
      width: fit-content;background-color: rgb(20, 20, 20);border-color: grey;">
      <mat-icon>circle</mat-icon> 
      SIGN IN
      </button>
    </mat-nav-list>
  </mat-sidenav>
 
  <mat-sidenav-content>

    <div style="height: 88vh;">
    <!-- <mat-toolbar-row class="bg">
      <app-chips-bar></app-chips-bar>
    </mat-toolbar-row> -->
  <app-video-content></app-video-content>
  </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>